<div class="col-md-12">
    <div class="row">
        <div class="col-md-6">
            <br/>
            <div class="card">
                <div class="card-body text-center">
                    <h1><ins>Agregar Producto</ins></h1>
                    <hr/>
                    <form [formGroup]="formAddProductos" (ngSubmit)="agregarProductos() ">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="lblCodigo " class="col-form-label">Codigo: </label>
                                <br/>
                                <input type="text " class="form-control" formControlName="codProducto" placeholder="Producto">
                                <div class="alert alert-danger" role="alert" *ngIf="codProducto.invalid && (codProducto.dirty || codProducto.touched) ">
                                    <div class="container-error-message " *ngIf="codProducto.errors.required ">Campo Requerido</div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="lblDescripcion" class="col-form-label">Descripción: </label>
                                <br/>
                                <input type="text " class="form-control" formControlName="descripcion" placeholder="escobillon">
                                <div class="alert alert-danger" role="alert" *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched) ">
                                    <div class="container-error-message " *ngIf="descripcion.errors.required ">Campo Requerido</div>
                                </div>
                            </div>
                            <div class="form-group col-md-6">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Cantidad</mat-label>
                                    <input matInput formControlName="cantidad" type="number" value="1">
                                </mat-form-field>
                            </div>
                        </div>
                        <!-- <button type="submit " class="btn btn-outline-primary " [disabled]="!formularioContacto.valid ">Enviar</button> -->
                        <button mat-button color="primary" type="submit" class="btn btn-outline-primary" [disabled]="!formAddProductos.valid ">Enviar</button>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <br/>
            <div class="card">
                <div class="card-body text-center">
                    <h1><ins>Listar Productos</ins></h1>
                    <hr/>
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Código</th>
                                <th scope="col">Descripción</th>
                                <th scope="col">Cantidad</th>
                                <th scope="col"></th>
                            </tr>
                        </thead>
                        <tbody *ngFor="let item of productos; let i=index">
                            <td>{{i+1}}</td>
                            <td>{{item.codProducto}}</td>
                            <td>{{item.descripcion}}</td>
                            <td>{{item.cantidad}}</td>
                            <td class="row">
                                <div class="float right" (click)="eliminar(item)">
                                    <img class="image-responsive" src="https://image.flaticon.com/icons/svg/1345/1345823.svg" height="16px" width="16px">
                                </div>
                                <br>
                                <div class="float right mx-2" (click)="editar(item)" data-toggle="modal" data-target="#modelId">
                                    <img class="image-responsive" src="https://image.flaticon.com/icons/svg/1001/1001371.svg" height="16px" width="16px">
                                </div>
                            </td>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal fade" id="modelId" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
            </div>
            <div class="modal-body">
                <input type="text" class="form-control" name="descripcion">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save</button>
            </div>
        </div>
    </div>
</div>