<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img src="assets\Imagenes\sale.svg" width="30" height="30" alt="">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar" aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbar">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['Inicio']">Inicio</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['Contacto']">Contacto</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['Producto']">Crear Productos</a>
            </li>
        </ul>
    </div>
</nav>